//  ================================================================================================
//  ? TIP:  It is recommended to use this file for overriding component variables.
//  ================================================================================================

$theme-dark-body-bg: #22252a;

$theme-dark-card-bg: #1d1f24;

$theme-dark-input-bg: #1d1f24;

$theme-dark-table-bg: #1d1f24;
$theme-dark-table-header-bg: #212329;
$theme-dark-table-row-bg: #1d1f24;
$theme-dark-table-hover-bg: #191c1f;
$theme-dark-table-striped-bg: #191c1f;

$theme-dark-modal-header-bg: #22252a;
$theme-dark-pagination-bg: #25272e;
$theme-dark-chart-bg: #384056;
$theme-dark-widget-bg: #384056;
