* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body {
  overflow-x: hidden;
  color: #e6e6e6;
  background-color: #333333;
  text-align: center;
}

#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: #e6e6e6;
}

a:hover {
  text-decoration: none !important;
  color: #fff;
}

hr {
  height: 1px;
  background-color: rgba(255, 255, 255, 0.6);
}

::-webkit-scrollbar {
  height: 8px;
  width: 6px;
}

::-webkit-scrollbar-thumb {
  -moz-border-radius: 2em;
  -webkit-border-radius: 2em;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 2em;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #e6e6e6;
}

::-webkit-scrollbar-corner {
  background: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-track {
  -moz-border-radius: 2em;
  -webkit-border-radius: 2em;
  background-color: transparent;
  border-radius: 2em;
}

input:focus,
select:focus,
textarea:focus,
button:focus,
.button:focus {
  outline: none;
}

ul {
  margin-top: 1rem !important;
}

input[type="checkbox"] {
  margin: 5px;
  vertical-align: top;
  background-color: #000;
}

input[type="checkbox"]:checked + label,
input[type="checkbox"]:checked + label a {
  color: #97f597;
}

img {
  -webkit-app-region: no-drag;
  transition: 0.1s;
}

a img,
a .uk-background-cover {
  transition: all 0.05s ease-in-out;
}

a:hover img,
a:hover .uk-background-cover {
  filter: opacity(70%);
  transform: scale(1.1);
}

p {
  margin: 5px;
}

h4 {
  margin: 5px;
  font-size: 14px;
}

/* MAIN STYLE */

.mainDivStyle {
  padding: 0 20px 40px 20px;
}

.header {
  position: absolute;
  top: 0;
  height: 80px;
  z-index: 10;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  height: 40px;
  z-index: 10;
  width: 100%;
  margin-left: -10px;
  background-color: #333333;
}

/* desktop */
@media screen and (min-width: 805px) {
  .content {
    padding: 120px 0 30px 0;
  }
}

/* mobile */
@media screen and (max-width: 805px) {
  .content {
    padding: 90px 0 30px 0;
  }

  .footer-grid {
    grid-template-columns: 120px calc(100vw - 240px) 120px;
  }
}

/* HEADER STYLE */

.header-logo {
  height: 100%;
}

.header-logo img {
  vertical-align: middle;
  max-width: 200px;
  height: 30px;
}

.header-menu {
  overflow: visible;
  display: grid;
  grid-template-columns: 1fr 76px;
  width: 100vw;
}

/* FOOTER STYLE */

.footer-grid {
  display: grid;
  grid-template-columns: 240px calc(100vw - 480px) 240px;
  grid-template-rows: 1fr;
  margin: auto;
}

.footer-left {
  grid-area: 1 / 1 / 2 / 2;
  height: 100%;
}

.footer-middle {
  text-align: center;
  grid-area: 1 / 2 / 2 / 3;
  height: 30px;
  line-height: 30px;
}

.footer-right {
  text-align: right;
  grid-area: 1 / 3 / 2 / 4;
  height: 30px;
  line-height: 30px;
}

/* HELPER classes */
.helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

/* Login button style */

.zelidLogin {
  height: 100px;
}

.loginForm .el-input-group__prepend {
  width: 70px;
}

.loginForm .el-input-group {
  width: 600px;
}

/* ELEMENTS */
.el-menu.el-menu--horizontal {
  border: none;
}

.el-menu,
.el-submenu .el-menu {
  border: 1px solid #ffd04b;
}

.el-menu--collapse > .el-menu-item .el-submenu__icon-arrow,
.el-menu--collapse > .el-submenu > .el-submenu__title .el-submenu__icon-arrow {
  position: absolute;
  right: 20px;
  vertical-align: middle;
  display: inline-block;
}

.el-menu--collapse .el-submenu .is-opened > .el-submenu__title .el-submenu__icon-arrow {
  -webkit-transform: rotateZ(180deg);
  -ms-transform: rotateZ(180deg);
  transform: rotateZ(180deg);
}

.el-tabs__item {
  color: #fff;
}

.el-tabs__item:hover {
  color: #ffd04b;
}

.el-tabs__item.is-top.is-active {
  color: #ffd04b;
}

.el-tabs__active-bar {
  background-color: #ffd04b;
}

.zelapps-register .el-form {
  text-align: left;
}

/* ZelCash styling */
.helpSection {
  white-space: pre-line;
}

/* Burger menu */
.container {
  display: inline-block;
  cursor: pointer;
  padding-top: 20px;
}

.bar1,
.bar2,
.bar3 {
  width: 35px;
  height: 5px;
  background-color: #fff;
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  -ms-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  -ms-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

/* vertical menu */
.mobilemenu {
  width: 190px;
}

.hidden {
  height: 55px;
  overflow: hidden;
  border: 1px solid #333;
}

/* */

.zeladminsection .el-button {
  margin: 10px;
}