name: Node CI

on: [push]

jobs:
  build:

    runs-on: ubuntu-20.04

    strategy:
      matrix:
        node-version: [14.x]

    services:
      mongodb:
        image: mongo:4.2
        ports:
          - 27017:27017

    steps:
    - uses: actions/checkout@v1
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - name: npm install, build, and test
      run: |
        npm i
        npm run ciconfig
        npm run homebuild
        npm run test:zelback
        npm run test:zelback:unit
      env:
        CI: true
    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v2
    - name: Push to other repo # Push services directory to another GitHub repo to build JSDocs separately from RunOnFlux/flux repo
      uses: cpina/github-action-push-to-another-repository@main # https://github.com/cpina/github-action-push-to-another-repository
      env:
        API_TOKEN_GITHUB: ${{ secrets.API_TOKEN_GITHUB }} # Trunk/BlondFrogs to create secret (https://github.com/settings/tokens)
      with:
        source-directory: 'ZelBack/src/services'
        destination-github-username: 'RunOnFlux'
        destination-repository-name: 'fluxjsdocs' # Repo to be created by TheTrunk/BlondFrogs
        user-email: tadeas@zel.network # TheTrunk/BlondFrogs email address
        target-branch: master
        target-directory: services/ # This directory needs to be created when the repo is set up. There should be a specific directory for these files to be overwritten on each push. The Actions .yml file (for building the JSDocs) will be kept outside this directory so it is not overwritten on each push.